SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Capital] [varchar](100) NULL,
	[Population] [int] NULL,
	[Area] [int] NULL,
	[Region] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [Capital], [Population], [Area], [Region]) VALUES (1, N'South Georgia', N'King Edward Point', 30, 3903, N'Antarctic')
INSERT [dbo].[Countries] ([Id], [Name], [Capital], [Population], [Area], [Region]) VALUES (2, N'Grenada', N'St. George''s', 112519, 344, N'Americas')
INSERT [dbo].[Countries] ([Id], [Name], [Capital], [Population], [Area], [Region]) VALUES (3, N'Switzerland', N'Bern', 8654622, 41284, N'Europe')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
